<div data-role="view" id="rewardCard" data-style="inset"  data-title="Reward Card" data-show="rewardCardShow" data-init="rewardCardInit" data-model="rewardsViewModel">
	<header data-role="header" data-id="jitterz-default-header">
		<div data-role="navbar">
			<a class="nav-button" data-role="backbutton" data-align="left">Back</a>
			<span data-role="view-title"></span>
		</div>
	</header>
	<div id="singleCardContainer" class="clear">
		<div id="rewardCardFront" data-bind="attr: {class: cardStatus}">
			<div class="clear">
				<div class="iconContainer">
					<div class="icon"></div>
				</div>
				<div class="bonusContainer clear">
					<span class="bonusPoints" data-bind="text: bonusPoints"></span>
					<div class="dateLine">
						<span>as of</span>
						<span data-bind="text: currentDate"></span>
					</div>
				</div>

			</div>
			<div class="amountLine">
				<div class="cardNumberLine" data-bind="text: cardNumber"></div>
			</div>
		</div>
		<div id="rewardCardBack" data-bind="attr: {class: cardStatus}">
			<img id="barcodeImage" data-bind="attr: {src:barcodeURL}" alt="Shop Card Id"/>
		</div>
	</div>
	<div class="clear">
		<div>
			<ul id="rewardsList" data-role="listview" data-style="inset" data-bind="source: rewards" data-template="rewardsListTemplate"></ul>
		</div>
	</div>
</div>

<!-- Templates -->
<script type="text/x-kendo-template" id="rewardsListTemplate">
        <p class="item-info">#:reward#</p>
</script>