<div data-role="view" id="addCardView" data-title="New Registration" data-show="RegisterShow" data-model="addCardViewModel">
	<div data-role="header">
		<div data-role="navbar">
			<a href="#cardsView" data-role="button" data-align="left">Cancel</a>
            <span data-role="view-title"></span>
            <button data-role="button" data-align="right" id="registerbtn" data-bind="events: { click: Register }">Submit</button>
		</div>
	</div>
    <div data-role="content">
        <div class="addCardLogo clear">
            <div class="cardPicture">
            </div>
            <span class="addCardLogoText">New Registration</span>
        </div>
        <ul class="addNewCardWrapper" data-role="listview" data-style="inset">
			<li>
				<label for="cardNumberField">Username:</label>
				<input type="number" id="cardNumberField" min="3" max="10" maxlength="10" maxlength="9" data-bind="value: cardNumber, events: { keyup: cardIdChanged }"/>
			</li>
			<li>
				<label for="cardNumberField">Password:</label>
				<input type="number" id="cardNumberField" min="3" max="10" maxlength="10" maxlength="9" data-bind="value: cardNumber, events: { keyup: cardIdChanged }"/>
			</li>
			<li>
				<label for="cardNumberField">Fullname:</label>
				<input type="number" id="cardNumberField" min="3" max="10" maxlength="10" maxlength="9" data-bind="value: cardNumber, events: { keyup: cardIdChanged }"/>
			</li>
			<li>
				<label for="cardNumberField">Mobile No:</label>
				<input type="number" id="cardNumberField" min="3" max="10" maxlength="10" maxlength="9" data-bind="value: cardNumber, events: { keyup: cardIdChanged }"/>
			</li>
			<li>
				<label for="cardNumberField">Amount:</label>
				<input type="number" id="cardNumberField" min="3" max="10" maxlength="10" maxlength="9" data-bind="value: cardNumber, events: { keyup: cardIdChanged }"/>
			</li>
		</ul>
		<div id="addNewCardErrorLog"></div>
    </div>
</div>